@import "tailwindcss";

@theme inline {
  --color-campusblue-50: #F4F9FD;
  --color-campusblue-100: #C0E6FD;
  --color-campusblue-200: #A0C8E8;
  --color-campusblue-300: #80AAD3;
  --color-campusblue-400: #6D95C4;
  --color-campusblue-500: #5B86B6;
  --color-campusblue-600: #4D75A4;
  --color-campusblue-700: #3F6593;
  --color-campusblue-800: #1B3554;
  --color-campusblue-900: #000F22;
  --color-campusblue-950: #000812;

  --color-white: #FFFFFF;

  --font-sans: "Times New Roman", Times, serif;
  --font-serif: "Times New Roman", Times, serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-campusblue-900);
  font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
}
